* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 30px 20px 20px 35px;
    font-family: 'Times New Roman', Times, serif;
}

.content_1 {
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(106, 103, 208);
    color: azure;
}

img {
    width: 96%;
}

.container_1 {
    display: flex;
}
.text {
    font-size: 10px;
    color: rgb(77, 108, 212);
    border: 1px solid rgb(67, 71, 87);
    border-radius: 50%;
    padding: 3px;
    margin: 5px;
}
.name{
    font-weight: bold;
    font-size: 25px;
}