body {
    background-color: #314a60;
}

h4 {
    color: #8f95a6;
}

h3 {
    color: #465978;
}

p {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #a5abb6;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    width: 200px;
    overflow: hidden;
    margin: auto;
    padding:auto;
}
.img{
    width: 100%;
}
